# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Ambiente virtual
env/
venv/
.env/
.venv/

# Variáveis de ambiente
.env
.env.local
*.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Ficheiros estáticos coletados
staticfiles/
static_root/